// Title
.chapter-intro h1
	text-align: center
	.number
		display: block

// Image "canvas"
.bg
	// Styles
	background-repeat: no-repeat
	background-position: 50% 10%
	background-size: contain

// Root
.chapter-intro
	// Layout
	position: relative
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

	.bg
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0

	a
		position: relative

	// State
	.bg
		opacity: 0
		transform: translateY(1em)

	h1
		position relative
		opacity: 0
		transform: translateY(2em)

	a
		position relative
		opacity: 0
		transform: translateY(2em)

	&[data-state="ready"]
		.bg
			transition: opacity 2s, transform 2s
		h1
			transition: opacity 3s, transform 3s
		a
			transition: opacity 3s, transform 3s

		.bg,
		h1,
		a
			opacity: 1
			transform: none
