// Title
.chapter-intro h1
	text-align: center
	.number
		display: block

// Root
.chapter-intro
	// Styles
	background-repeat: no-repeat
	background-position: 50% 10%
	background-size: contain

	// Layout
	display: flex
	align-items: center
	justify-content: center
