@require "./transitions/**/*"
@require "./type/**/*"
@require "../components/**/*"
@require "../fonts/**/*"



// Root
#app
	// Styles
	background: url("/img/bg.png")
	font-family: 'TreasureHunt'
	font-size: 1.5rem

	// Self-layout
	position: absolute
	left: 0
	top: 0
	right: 0
	bottom: 0

	// Layout
	display: flex
	align-content: stretch

	> * {
		flex: 1
	}
