@require "../components/**/*"
@require "../fonts/**/*"

#app
	// Styles
	background: url("/img/bg.png")
	font-family: 'TreasureHunt'
	font-size: 0.75rem

	// Self-layout
	position: absolute
	left: 0
	top: 0
	right: 0
	bottom: 0

	// Layout
	display: flex
	align-content: stretch

	.chapter-intro
		flex: 1
