.dialogue
	// Self-layout
	min-height: 7rem // Total hack, need to figure out how to use react transitions without absolute positioning
	// Layout
	position: relative
	.line
		position: absolute
		width: 100%
		text-align: center
