.sailing
	// Layout
	.dialogue
		position: absolute
		top: 50%
		width: 95%
		margin: -3em 2.5% 0 2.5%

	.compass
		position: absolute
		left: 50%
		top: 50%
		margin-left: -5rem
		margin-top: -5rem
		width: 10rem
		height: 10rem
